---
// Redirect to default locale
const defaultLocale = 'en';
const redirectUrl = `/${defaultLocale}`;
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <title>Redirecting to ${redirectUrl}...</title>
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a>...</p>
    <script>
      window.location.href = '/en';
    </script>
  </body>
</html>
